<h1>Welcome!</h1>

<p>Please type the name of the boss below to get started!</p>

<br>

<form> 
  <label for="name"></label> 
  <input type="text" id="name" name="name"><br><br> 
  <input type="submit" value="Submit"> 
</form>
